@import "variables";

.maia-status {
    text-align: center;
    color: $brand-success;
    margin-bottom: $navbar-margin-bottom;
}

.maia-status--running {
    color: $brand-warning;
}

.maia-info-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
