@import "variables";

.maia-status {
    text-align: center;
    color: $brand-success;
    margin-bottom: $navbar-margin-bottom;
}

.maia-status--running {
    color: $brand-warning;
}

.maia-status--failed {
    color: $brand-danger;
}

.maia-content {
    height: 100%;
    position: relative;
}

.maia-content-message {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.sidebar-tab__content--maia {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.maia-tab-content__top {
    flex: 1;
    overflow-y: auto;
}

.maia-tab-content__bottom {
    padding-top: 1em;

    .panel:last-child {
        margin-bottom: 0;
    }
}

.image-grid__image--annotation-candidate {
    .attached-label {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: .5em;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        pointer-events: none;
    }

    .attached-label__name {
        padding-right: 16px;
    }

    .attached-label__color {
        width: 1em;
        height: 1em;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid #eee;
        vertical-align: middle;
    }
}

.image-grid__image--annotation-candidate{
  .image-icon.top-left{
    font-size: 2em;
    align-items: unset;
    justify-content: right;
    padding: 0.25em 0.25em;
  }
}